# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
*.beam
/aoc_erlang/src/aoc2020_*_lexer.erl
/aoc_erlang/src/aoc2020_*_parser.erl
/aoc_python/2020/__pycache__/
/aoc_java/table.csv
/aoc_java/results-java.json
