%% -*- erlang -*-

{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.

{pre_hooks,
 [{compile, "make -s -C c_src"}
 ]}.

{post_hooks,
 [{clean, "make -s -C c_src clean"}
 ]}.

{ct_opts, [{ct_hooks, [ cth_surefire
                      , cth_plot
                      , cth_timing
                      ]}
          ]}.

{deps, [ {getopt, "1.0.1"}
       , {jsone, "1.5.0"}
       , {redbug, "2.0.0"}
       ]}.

{eunit_opts, [verbose]}.

%% {cover_enabled, true}.
%% {cover_opts, [verbose]}.

{dialyzer, [ {warnings, [unknown, underspecs]}
           ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               %% locals_not_used,
               %% exports_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.
