%% -*- erlang -*-

{erl_opts, [ debug_info
           %% , warnings_as_errors
           ]}.

{pre_hooks,
 [{compile, "make -C c_src"}
 ]}.

{post_hooks,
 [ {clean, "make -C c_src clean"}
   %% , {ct, "gnuplot -c plot.txt"}
 ]}.

{deps, [ {getopt, "1.0.1"}
       , {jsone, "1.5.0"}
       ]}.

{relx, [ {release, { aoc_erlang, "0.1.0" }, [aoc_erlang]}
       , {sys_config, "./config/sys.config"}
       , {vm_args, "./config/vm.args"}
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]}.

{ct_opts, [{ct_hooks, [ cth_surefire
                      , cth_plot
                      ]}
          ]}.

{profiles,
 [ {prod,
    [ {erl_opts, [no_debug_info, warnings_as_errors]}
    , {relx, [{dev_mode, false}]}
    , {ct_opts, [{ct_hooks, [ cth_surefire
                            , cth_plot
                            ]}
                ]}
    ]}
 , {native,
    [ {erl_opts, [{native, {hipe, o3}}]}
    ]}
 ]}.
